<%= render 'shared/navbar_admin' %>


<div class = "container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" id="contactForm">
            <h1>New Semester</h1>

            <%= render 'form', semester: @semester %>
            
            <%= link_to 'Back', semesters_path %>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div> 